.game-header-container {
  position: relative;
  height: 4rem;
  background-color: rgb(192, 192, 192);
  box-sizing: border-box;
  border: 6px solid grey;
  border-bottom: none;
}

.game-header-container * {
  overflow: none;
}

.bomb-counter-wrapper {
  position: absolute;
  top: 50%;
  left: .5rem;
  transform: translate(0, -50%);
  background-color: black;
  border: 2px solid white;
  min-width: 4.2rem;
  height: 60%;
  box-sizing: border-box;
  padding: .25rem .5rem .25rem .5rem;
}


.bomb-counter {
  height: 100%;
  width: 100%;
  color: red;
  font-size: 2rem;
}

.expressive-face {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: none;
  width: 3rem;
}

.expressive-face:active {
  transform: translate(-49%, -49%);
}

.expressive-face-img {
  object-fit: contain;
  border: 2px solid black;
  outline: 2px solid grey;
}


.clock-wrapper {
  position: absolute;
  top: 50%;
  right: .25rem;
  transform: translate(0, -50%);
  background-color: black;
  border: 2px solid white;
  height: 60%;
  box-sizing: border-box;
  padding: .25rem .5rem .25rem .5rem;
  min-width: 4.2rem;
}

.clock {
  height: 100%;
  width: 100%;
  color: red;
  font-size: 2rem;
}
